<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empty Title</title>
</head>
<body>
    <h2>Formulář parametrů videa</h2>

    <form action="dashPlayer" method="post">

        <input type="radio" id="local" name="url" value="file">
        <label for="local">Lokální video</label><br>

        <input type="radio" id="urlVideo" name="url" value="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
        <label for="urlVideo">URL video</label><br>

        <input type="radio" id="dashStream" name="url" value="dash/manifest.mpd">
        <label for="dashStream">Dash stream</label><br>

        <input type="radio" id="dashStreamURL" name="url" value="https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd">
        <label for="dashStreamURL">Dash stream URL</label><br>

        <input type="radio" id="hlsStream" name="url" value="hls/playlist.m3u8">
        <label for="hlsStream">HLS stream</label><br>

        <input type="submit" value="Přehrát vybrané">

    </form>

</body>
</html>